.head-box {
  //background: linear-gradient(153deg, #342B48 33.79%, #0F4F57 69.42%, $color-default 100%);
  background-size: cover;
  min-height: 800px;
  transition: .3s;
  background-position: center;
  overflow: hidden;
  @media (max-width: $mobile-media) {
    background-image: url(../images/covers/bg-home.png) !important;
  }
}

.head-box-web {
  //background-image: url(../../images/covers/head-web.svg);
}

.head-box-layout {
  padding-top: 92px;
  transition: .3s;
}

.head-box-layout.double-box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.head-box-layout {
  .head-box-cover {
    margin-top: -85px;
    position: absolute;
    right: -119px;
    transition: .3s;
    z-index: 0;
    img {
      width: auto;
    }
  }
}

.head-box-layout .head-box-desc {
  padding-top: 150px;
  transition: .3s;
  max-width: 50%;
  z-index: 1;
}

.head-box-layout .head-box-desc .title-h1 {
  color: #fff;
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  p {
    &:last-child,
    &:first-child {
      color: $color-default;
    }

    &:nth-child(2) {
      font-weight: 300;
    }
  }
}

.head-box-desc-content {
  color: $color-white;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  margin-left: -8px;
  ul {
    li {
      color: $color-gray;
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      padding-bottom: 16px;
      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 23px;
        left: 0;
        background-size: cover;
        top: -3px;
        background-image: url(../images/icons/blue-check.svg);
      }
    }
  }
}
.head-btn {
  display: flex;
  padding: 40px 0;
  .jk-btn {
    &:first-child {
      margin-right: 50px;
    }
  }
}
.head-box-container {
  display: flex;
  flex-wrap: wrap;
}
.head-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 177px;
  &-title {
    font-weight: 500;
    font-size: 42px;
    line-height: 100%;
    color: $color-default;
  }
  &-desc {
    max-width: 500px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: $color-white;
  }
}
.ban-counter {
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  transition: .3s;
  &-item {

  }
  &-icon {
    height: 64px;
    img {
      max-width: 76px;
    }
  }
  &-label {
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: $color-default;
    max-width: 235px;
  }
  &-number {
    font-weight: bold;
    font-size: 120px;
    line-height: 120%;
    color: $color-white;
    text-shadow: 0 0 15px rgba(14, 245, 255, 0.6);
  }
  &-desc {
    padding-top: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: $color-white;
    max-width: 272px;
  }
}

@media (max-width: $large-media) {
  .head-box {
    min-height: 736px;
    background-position: bottom;
  }

  .head-box-layout .head-box-cover {
    img {
      width: 100%;
    }
  }
  .head-box-layout {
    padding-top: 30px;

    .head-box-desc {
      padding-top: 130px;
    }
  }
  .head-box-two-layout-content {
    padding-top: 150px;
  }
}
@media (max-width: 1100px) {
  .head-box-layout .head-box-cover {
    margin-top: 0;
    right: -20em;
  }
  .head-box-layout .head-box-desc {
    max-width: 80%;
  }
  .head-box-desc-content {
    max-width: 500px;
  }
  .head-cont {
    padding-top: 275px;
  }
}
@media (max-width: $tablet-media) {
  .head-box-layout .head-box-cover {
    //display: none;
    position: absolute;
    right: -23rem;
    margin-top: 75px;
  }
  .head-cont {
    flex-wrap: wrap;
    padding-top: 140px;
    &-desc {
      padding-top: 20px;
    }
  }
  .ban-counter {
    padding-top: 40px;
    flex-wrap: wrap;
  }
  .head-box-layout .head-box-desc {
    max-width: 80%;
  }
}
@media (max-width: 850px) {
  .head-box-layout .head-box-cover {
    right: -27rem;
  }
}
@media (max-width: $mobile-media) {
  .head-box {
    min-height: 546px;
  }
  .head-box-two {
    min-height: 546px;
  }
  .head-box-two-desc {
    font-size: 12px;
    line-height: normal;
  }
  .head-box-layout .head-box-desc {
    padding-top: 90px;
    max-width: 91%;
  }

  .head-box-layout .head-box-desc-boxes.flex-wrap .head-box-desc-boxes-item {
    img {
      width: 22%;
    }
  }
  .head-box-layout .head-box-desc-boxes {
    flex-wrap: wrap;
  }
  .head-box-layout .head-box-desc-boxes-item {
    flex-basis: 100%;
    margin-bottom: -8px;
    margin-left: 10px;

    img {
      width: 20%;
    }
  }
  .head-box-layout .other-desc-content p {
    font-size: 12px;
    line-height: normal;
  }
  .head-box-layout .other-desc .head-box-desc-boxes-item span {
    margin-left: -12px;
  }
  .head-box-layout .head-box-desc-boxes-item span {
    font-size: 13px;
    line-height: normal;
  }
  .box-developers {
    min-height: auto;

    .head-box-layout .other-desc .other-desc-content {
      padding-top: 10px;
      padding-bottom: 30px;

    }
  }
  .head-box-layout .head-box-desc .title-h1 {
    font-size: 24px;
    line-height: normal;
    p {
      padding-bottom: 2px;
      &:nth-child(2) {
        max-width: 214px;
      }
    }
  }
  .head-box-container {
    padding-top: 20px;
  }
  .head-box-desc-content {
    max-width: 180px;
    font-size: 12px;
    line-height: normal;
    ul {
      li {
        padding-bottom: 6px;
        &:before {
          top: -6px;
        }
      }
    }
  }
  .head-box-layout .head-box-cover {
    right: -16rem;
  }
  .head-btn {
    display: grid;
    padding-top: 14px;
    padding-bottom: 50px;
    order: 1;
    flex-basis: 100%;
    .jk-btn {
      flex-basis: 100%;
      max-width: 138px;
      padding: 12px 9px 12px 20px;
      text-align: center;
      &.down {
        &:before {
          left: 13px;
          top: 10px;
        }
      }
      &.play {
        &:before {
          left: 28px;
          top: 11px;
        }
      }

      &:first-child {
        margin-right: inherit;
        margin-bottom: 30px;
      }
    }
  }
  .head-cont {
    display: grid;
    padding-top: 0;
    &-title {
      font-size: 18px;
    }
    &-desc {
      font-size: 12px;
    }
  }
  .ban-counter {
    padding-top: 12px;
    padding-bottom: 24px;
    &-item {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 12px;
    }
    &-number {
      font-size: 82px;
    }
    &-label {
      font-size: 14px;
      line-height: normal;
      padding-left: 10px;
      max-width: 110px;
    }
    &-desc {
      flex-basis: 100%;
      max-width: initial;
      padding-top: 0;
      padding-left: 75px;
      font-size: 12px;
    }
  }
}

@media (max-width: $mobile-extra-small) {
  .head-box-layout .head-box-desc-boxes-item span {
    font-size: 13px;
    line-height: normal;
  }
  .head-box-layout .head-box-desc {
    padding-top: 60px;
  }
  .head-box-layout .head-box-desc .title-h1 {
    max-width: 216px;
  }
  .ban-counter-number {
    font-size: 56px;
  }
  .ban-counter-icon img {
    max-width: initial;
    max-height: 59px;
  }
}