.u-menu {
  font-size: 14px;
  line-height: 92%;
  padding-bottom: 10px;
}
.u-menu-list {
  display: -ms-flexbox;
  display: flex; }
.u-menu-list-item {
  margin-right: 34px; }
.u-menu-list-item a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}
.u-menu-list-item a.active {
  color: $color-default;
  border-bottom: 1px solid $color-default;
  padding-bottom: 24px;
  margin-bottom: -24px; }
.u-menu-list-item:last-child {
  margin-right: 0; }
.u-menu-list-item.active {
  border-bottom: 1px solid $color-default;
  padding-bottom: 24px;
  margin-bottom: -24px; }
.u-menu-list-item.active a {
  color: $color-default; }
.u-menu-list-item:hover {
  border-bottom: 1px solid $color-default;
  padding-bottom: 24px;
  margin-bottom: -24px; }
.u-menu-list-item:hover a {
  color: $color-default; }


