.u-menu {
  font-size: 14px;
  line-height: 92%;
  padding-bottom: 10px;
}
.u-menu-list {
  display: -ms-flexbox;
  display: flex; }
.u-menu-list-item {
  margin-right: 50px;
  @media (max-width: $large-media) {
   margin-right: 20px;
  }
}
.u-menu-list-item a {
  font-family: 'Roboto', sans-serif;
  color: $color-default;
  text-decoration: none;
  font-size: 16px;
  line-height: 92%;
}
.u-menu-list-item a.active {
  color: $color-default;
  border-bottom: 1px solid $color-default;
  padding-bottom: 24px;
  margin-bottom: -24px; }
.u-menu-list-item:last-child {
  margin-right: 0; }
.u-menu-list-item.active {
  border-bottom: 1px solid $color-default;
  padding-bottom: 24px;
  margin-bottom: -25px;}
.u-menu-list-item.active a {
  color: $color-default; }
.u-menu-list-item:hover {
  border-bottom: 1px solid $color-default;
  padding-bottom: 24px;
  margin-bottom: -25px;}
.u-menu-list-item:hover a {
  color: $color-default; }

.header-bg {
  .u-menu-list-item a {
    color: $color-white;
  }
}
@media (max-width: $mobile-media) {
  .u-menu-list-item a.active {
    padding-bottom: 6px;
  }
}