.download-popup {
  position: relative;
  background-color: $color-dark;
  border: 1px solid $color-orange;
  box-sizing: border-box;
  border-radius: 23px;
  width: auto;
  margin: auto;
  max-width: 210px;
  color: $color-orange;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  .down-popup {
    padding: 12px 20px;
    &-title {
      text-align: center;
      position: relative;
      padding-left: 11px;
      cursor: default;
      &:before {
        content: '';
        position: absolute;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1C9 0.447715 8.55228 -2.41411e-08 8 0C7.44772 2.41411e-08 7 0.447715 7 1L9 1ZM7.29289 17.7071C7.68342 18.0976 8.31658 18.0976 8.70711 17.7071L15.0711 11.3431C15.4616 10.9526 15.4616 10.3195 15.0711 9.92893C14.6805 9.53841 14.0474 9.53841 13.6569 9.92893L8 15.5858L2.34315 9.92893C1.95262 9.53841 1.31946 9.53841 0.928933 9.92893C0.538408 10.3195 0.538408 10.9526 0.928933 11.3431L7.29289 17.7071ZM7 1L7 17L9 17L9 1L7 1Z' fill='%23FF9500'/%3E%3C/svg%3E%0A");
        width: 15px;
        height: 16px;
        left: -6px;
      }
    }
    &-links {
      padding-top: 30px;
      padding-bottom: 10px;
      a {
        color: $color-orange;
        text-decoration: none;
        display: block;
        position: relative;
        padding-left: 57px;
        transition: .3s;
        &:hover {
          color: #bab9b9;
        }
      }
      .link-google {
        padding-bottom: 30px;
        &:before {
          content: '';
          position: absolute;
          background-size: cover;
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='23' viewBox='0 0 21 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6025 9.30486L3.90708 0.333255C3.52568 0.115208 3.09173 0 2.65236 0C2.20728 0 1.76852 0.11807 1.38354 0.341433C0.60663 0.792144 0.124023 1.63009 0.124023 2.52834V20.4716C0.124023 21.3698 0.60663 22.2077 1.38334 22.6584C1.76832 22.882 2.20717 23.0001 2.65226 23.0001C3.09142 23.0001 3.52537 22.8848 3.90698 22.6667L19.6022 13.695C20.3879 13.2458 20.8759 12.4048 20.8759 11.4999C20.8759 10.595 20.3881 9.75403 19.6025 9.30486ZM12.8011 7.18348L10.6461 10.1852L5.49137 3.00512L12.8011 7.18348ZM2.55341 21.4579C2.41326 21.4443 2.27577 21.4034 2.15299 21.3322C1.84734 21.1548 1.6574 20.825 1.6574 20.4716V2.52824C1.6574 2.17484 1.84734 1.84506 2.1531 1.6677C2.27546 1.59666 2.41183 1.55434 2.55198 1.53992L9.70224 11.4999L2.55341 21.4579ZM5.49137 19.9949L10.6461 12.8147L12.8011 15.8164L5.49137 19.9949ZM18.8414 12.3636L14.1394 15.0514L11.5898 11.4999L14.1394 7.94853L18.8414 10.6362C19.1505 10.813 19.3426 11.1439 19.3426 11.4999C19.3426 11.856 19.1506 12.187 18.8414 12.3636Z' fill='%23FF9500'/%3E%3C/svg%3E%0A");
          width: 18px;
          height: 20px;
          left: 25px;
          top: -3px;
        }
      }
      .link-app {
        &:before {
          content: '';
          position: absolute;
          background-size: cover;
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='25' viewBox='0 0 21 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.07204 9.45487C0.127596 12.8291 1.36371 17.9496 3.51395 21.0544C4.58726 22.6066 5.67391 24 7.16228 24C7.19033 24 7.21846 23.9995 7.24726 23.9983C7.94654 23.9704 8.45186 23.7551 8.94044 23.5471C9.48897 23.3133 10.0563 23.0716 10.9461 23.0716C11.7927 23.0716 12.3329 23.3055 12.8553 23.5315C13.3702 23.7543 13.9006 23.9848 14.6843 23.9701C16.3608 23.9388 17.3901 22.4353 18.2983 21.1089C19.246 19.724 19.7213 18.3794 19.8817 17.8656L19.8882 17.8451C19.9188 17.7538 19.8756 17.6541 19.7881 17.6139C19.7857 17.6128 19.7768 17.6091 19.7743 17.608C19.479 17.4873 16.8893 16.3384 16.8621 13.2071C16.8368 10.6631 18.8049 9.31589 19.1996 9.07171L19.218 9.06025C19.2607 9.03273 19.2905 8.98907 19.3006 8.93914C19.3107 8.8893 19.3002 8.83742 19.2715 8.79549C17.9131 6.80753 15.831 6.50793 14.9928 6.47189C14.8711 6.45974 14.7456 6.45364 14.6195 6.45364C13.6349 6.45364 12.6918 6.82548 11.9341 7.12426C11.411 7.3305 10.9592 7.50862 10.6476 7.50862C10.2975 7.50862 9.84317 7.32831 9.31704 7.11958C8.61347 6.84034 7.81601 6.52392 6.97179 6.52392C6.95166 6.52392 6.93183 6.52414 6.91229 6.52452C4.94938 6.5534 3.0946 7.67641 2.07204 9.45487Z' stroke='%23FF9500' stroke-width='1.1'/%3E%3Cpath d='M14.9945 1.00015C13.8059 1.04857 12.3799 1.78027 11.5277 2.77854C10.8033 3.61763 10.0958 5.01663 10.2822 6.4268C10.2939 6.51502 10.3657 6.58312 10.4544 6.58998C10.5347 6.59624 10.6166 6.59941 10.6981 6.59948C11.8604 6.59948 13.1143 5.95646 13.9706 4.92109C14.8718 3.8278 15.3275 2.42472 15.1896 1.16794C15.1788 1.06945 15.0921 0.996307 14.9945 1.00015Z' stroke='%23FF9500' stroke-width='1.1'/%3E%3C/svg%3E%0A");
          width: 18px;
          height: 20px;
          left: 25px;
          top: -5px;
        }
      }
    }
  }
}
.video-popup {
  position: relative;
  background-color: $color-dark;
  border: 1px solid $color-orange;
  box-sizing: border-box;
  border-radius: 23px;
  width: auto;
  margin: auto;
  max-width: 500px;
  &-layout {
    padding: 20px;
    iframe {
      border-radius: 20px;
    }
  }
  .popup-video {

  }
  @media (max-width: $mobile-media) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.mfp-wrap  {
  overflow: hidden auto;
  background: rgba(45, 60, 62, 0.2);
  mix-blend-mode: normal;
  backdrop-filter: blur(16px);
}
.modal-manager {
  position: relative;
  background-color: $color-dark;
  box-sizing: border-box;
  border-radius: 23px;
  width: auto;
  margin: auto;
  max-width: 577px;
  .mfp-close {
    position: absolute;
    top: 19px;
    &:before {
      content: '';
      position: absolute;
      opacity: 1;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L23 23' stroke='%23FF9500' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M23 2L2 23' stroke='%23FF9500' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: cover;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 30px;
    }
  }
  &-layout {
    padding: 44px;
  }
  .manager-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    color: $color-white;
    padding-bottom: 5px;
  }
  .manager-form {
    .u-controls {
      margin-top: 20px;
      .u-input {
        width: 100%;
        border: 1px solid $color-default;
        background-color: transparent;
        &::placeholder {
          color: $color-default;
          opacity: 1;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          text-shadow: 0 0 10px rgba(14, 245, 255, 0.8);
        }
        &::-ms-input-placeholder {
          color: $color-default;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          text-shadow: 0 0 10px rgba(14, 245, 255, 0.8);
        }
        &::-ms-input-placeholder {
          color: $color-default;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          text-shadow: 0 0 10px rgba(14, 245, 255, 0.8);
        }
      }
    }
    .manager-agree {
      font-weight: 300;
      font-size: 10px;
      line-height: 130%;
      color: $color-white;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: $color-default;
    }
    .manager-btn {
      .jk-btn {
        padding: 12px 20px 12px 40px;
      }
    }


  }
}