//Слайдер реализованых проектов
.projects-slider {
  padding-top: 100px;
  margin-bottom: 100px;
  flex-basis: 100%;
  order: 3;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    background-color: $color-dark;
    right: 0;
    width: 67%;
    min-height: 822px;
    @media (max-width: $tablet-media){
      min-height: 100%;
    }
  }
  &-head {
    display: flex;
    justify-content: space-between;

    .projects-all {
      a {
        position: relative;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-blue;
        text-decoration: none;
        padding-right: 42px;
        transition: .3s;

        &:after {
          content: '';
          position: absolute;
          height: 32px;
          width: 32px;
          right: 0;
          background-size: cover;
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15' stroke='%230090A1' stroke-width='2'/%3E%3Cpath d='M23.7071 16.7071C24.0976 16.3166 24.0976 15.6834 23.7071 15.2929L17.3431 8.92893C16.9526 8.53841 16.3195 8.53841 15.9289 8.92893C15.5384 9.31946 15.5384 9.95262 15.9289 10.3431L21.5858 16L15.9289 21.6569C15.5384 22.0474 15.5384 22.6805 15.9289 23.0711C16.3195 23.4616 16.9526 23.4616 17.3431 23.0711L23.7071 16.7071ZM9 17H23V15H9V17Z' fill='%230090A1'/%3E%3C/svg%3E%0A");
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .swiper-container-pr {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: $color-dark;
    display: flex;
    position: relative;
  }


}


.p-slider {
  padding-top: 30px;
  position: relative;
  height: 100%;
  overflow: hidden;

  .swiper-pagination {
    //opacity: 0;
  }

  .box-btn {
    position: relative;
    width: 200px;
    .swiper-button-prev {
      top: 15px;
      bottom: 0;
      left: -25px;

      &:after {
        content: '';
        width: 39px;
        height: 39px;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 19C9.44772 19 9 19.4477 9 20C9 20.5523 9.44772 21 10 21L10 19ZM28.7071 20.7071C29.0976 20.3166 29.0976 19.6834 28.7071 19.2929L22.3431 12.9289C21.9526 12.5384 21.3195 12.5384 20.9289 12.9289C20.5384 13.3195 20.5384 13.9526 20.9289 14.3431L26.5858 20L20.9289 25.6569C20.5384 26.0474 20.5384 26.6805 20.9289 27.0711C21.3195 27.4616 21.9526 27.4616 22.3431 27.0711L28.7071 20.7071ZM10 21L28 21L28 19L10 19L10 21Z' fill='%23FF9500'/%3E%3Ccircle cx='19.5' cy='19.5' r='19' stroke='%23FF9500'/%3E%3C/svg%3E%0A");
      }
    }

    .swiper-button-next {
      top: 14px;
      right: 0;
      bottom: 0;
      left: -12px;

      &:after {
        content: '';
        width: 39px;
        height: 39px;
        background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 19C9.44772 19 9 19.4477 9 20C9 20.5523 9.44772 21 10 21L10 19ZM28.7071 20.7071C29.0976 20.3166 29.0976 19.6834 28.7071 19.2929L22.3431 12.9289C21.9526 12.5384 21.3195 12.5384 20.9289 12.9289C20.5384 13.3195 20.5384 13.9526 20.9289 14.3431L26.5858 20L20.9289 25.6569C20.5384 26.0474 20.5384 26.6805 20.9289 27.0711C21.3195 27.4616 21.9526 27.4616 22.3431 27.0711L28.7071 20.7071ZM10 21L28 21L28 19L10 19L10 21Z' fill='%23FF9500'/%3E%3Ccircle cx='19.5' cy='19.5' r='19' stroke='%23FF9500'/%3E%3C/svg%3E%0A");
      }
    }

    .swiper-pagination {
      top: 6px;
      left: -55px;
      font-weight: 300;
      font-size: 14px;
      line-height: 130%;
      color: $color-white;
    }
  }
  .projects-block {
    position: absolute;
    bottom: 28px;
    left: 0;
    right: 0;
    height: 93px;
    background-color: white;
    z-index: 0;
    @media (max-width: $tablet-media){
      display: none;
    }
  }
  &-box {
    &-cover {
      min-height: 800px;
      background-size: cover;
      flex-basis: 46%;
      background-position: center;
      z-index: 1;
      img {

      }
    }

    &-desc {
      flex-basis: 53%;
      padding-left: 70px;
      .p-slider-head {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-arrow {
          width: 114px;
          height: 50px;
        }

        &-title {
          padding-left: 10px;
          text-align: left;

          a {
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: $color-white;
            text-decoration: none;

            span {
              display: block;
              font-weight: 300;
              font-size: 14px;
              line-height: 130%;
              color: $color-gray;
            }
          }

        }
      }

      .p-slider-body {
        padding-top: 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $color-white;
        text-align: left;
        max-width: 492px;
        p {
          padding-bottom: 20px;
        }
        ul {
          padding-left: 79px;
          li {
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;
            padding-bottom: 16px;
            &:before {
              content: '';
              position: absolute;
              width: 30px;
              height: 23px;
              left: 0;
              background-size: cover;
              top: -7px;
              background-image: url(../images/icons/blue-check.svg);
            }
          }
        }
      }
    }
  }
}
.manager {
  padding-top: 38px;
  text-align: center;
  .jk-btn {
    padding: 12px 20px 12px 38px;
    &:before {
      left: 15px;

    }
  }
}
@media (max-width: 800px) {
  .projects-slider {
    padding-top: 30px;
    padding-bottom: 46px;
    margin-bottom: 0;
    &-head {
      .title-h2 {
        padding-left: 20px;
      }
    }
    &:before {
      width: 50%;
    }
    .box {
      padding-left: 0;
    }
    .swiper-slide {
      flex-wrap: wrap;
      overflow: hidden;
    }
    .manager {
      padding-top: 30px;
      margin-bottom: 40px;
    }
  }
  .p-slider {

    &-box {
      flex-wrap: wrap;
      &-cover {
        flex-basis: 100%;
        min-height: 334px;
      }
      &-desc {
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0;
        .p-slider-body {
          ul {
            padding-top: 25px;
            padding-left: 11px;
          }
        }
        .p-slider-head {
          position: relative;
        }
        .p-slider-head-title {
          width: 100%;
          text-align: center;
          a {
            font-size: 12px;
            line-height: 120%;
            span {
              font-size: 12px;
            }
          }
        }
        .p-slider-head-arrow {
          position: absolute;
          width: 100%;
        }
        .p-slider-body {
          padding-top: 16px;
          font-size: 12px;
          line-height: 120%;
          max-width: initial;
          padding-left: 20px;
          .mini-desc {
            display: none;
          }
        }
      }
    }
    .swiper-pagination {
      display: none;
    }
    .box-btn {
      width: 100%;
      height: 70px;
      margin: 20px auto 0 auto;
      display: flex;
      justify-content: space-between;
      .swiper-button-next {
        outline: none;
        top: 0;
        width: 39px;
        height: 16px;
        right: 0;
        position: initial;
        order: 2;
      }
      .swiper-button-prev {
        outline: none;
        top: 0;
        width: 39px;
        height: 20px;
        left: 0;
        margin-left: 20px;
        position: initial;
        order: 1;
      }
      .swiper-pagination {
        top: 19px;
        left: -4px;
      }
    }
  }
}
.modal-emblem {
  position: relative;
  background-color: $color-dark;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  box-sizing: border-box;
  width: auto;
  margin: auto;
  max-width: 800px;
  color: $color-white;
  .emblem-layout {
    padding: 20px 30px;
    min-height: 480px;
    &-box {
      position: relative;
    }
  }
  .emblem-content {
    display: flex;
    max-width: 380px;
    &-text {
      font-weight: normal;
      font-size: 18px;
      line-height: 120%;
      padding-left: 26px;
    }
  }
  .element-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: $color-white;
    padding-bottom: 22px;
  }
  .element-mini {
    padding-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
  }
  .element-icon {

  }
  .emblem-cover {
    position: absolute;
    right: 0;
    top: -50px;
  }
  .mfp-close {
    opacity: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L23 23' stroke='%23FF9500' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M23 2L2 23' stroke='%23FF9500' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 30px;
  }
  .element-arrows {
    margin-bottom: 64px;
    .prev {
      position: relative;
      outline: none;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='28' viewBox='0 0 47 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M36.3536 13.6464C36.5488 13.8417 36.5488 14.1583 36.3536 14.3536L33.1716 17.5355C32.9763 17.7308 32.6597 17.7308 32.4645 17.5355C32.2692 17.3403 32.2692 17.0237 32.4645 16.8284L35.2929 14L32.4645 11.1716C32.2692 10.9763 32.2692 10.6597 32.4645 10.4645C32.6597 10.2692 32.9763 10.2692 33.1716 10.4645L36.3536 13.6464ZM10 13.5L36 13.5L36 14.5L10 14.5L10 13.5Z' fill='%230EF5FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0.318115' width='46.5' height='27.364' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.054902 0 0 0 0 0.960784 0 0 0 0 1 0 0 0 0.8 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 34px;
        height: 25px;
        transform: rotate(180deg);
      }
      &.not {
        cursor: default;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='27' height='8' viewBox='0 0 27 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM27 3.5L1 3.5L1 4.5L27 4.5L27 3.5Z' fill='%23B8C2C4'/%3E%3C/svg%3E%0A");
          transform: rotate(360deg);
          width: 27px;
          height: 8px;
          top: 8px;
        }
      }
    }
    .next {
      position: relative;
      outline: none;
      margin-left: 30px;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='28' viewBox='0 0 47 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M36.3536 13.6464C36.5488 13.8417 36.5488 14.1583 36.3536 14.3536L33.1716 17.5355C32.9763 17.7308 32.6597 17.7308 32.4645 17.5355C32.2692 17.3403 32.2692 17.0237 32.4645 16.8284L35.2929 14L32.4645 11.1716C32.2692 10.9763 32.2692 10.6597 32.4645 10.4645C32.6597 10.2692 32.9763 10.2692 33.1716 10.4645L36.3536 13.6464ZM10 13.5L36 13.5L36 14.5L10 14.5L10 13.5Z' fill='%230EF5FF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0.318115' width='46.5' height='27.364' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.054902 0 0 0 0 0.960784 0 0 0 0 1 0 0 0 0.8 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 34px;
        height: 25px;
      }
      &.not {
        cursor: default;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='27' height='8' viewBox='0 0 27 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM27 3.5L1 3.5L1 4.5L27 4.5L27 3.5Z' fill='%23B8C2C4'/%3E%3C/svg%3E%0A");
          transform: rotate(180deg);
          width: 27px;
          height: 8px;
          top: 8px;
          left: 8px;
        }
      }
    }
  }
  .element-btn {

  }

}