* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-family: 'Rubik', sans-serif; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.box {
  max-width: 1200px;
  margin: 0 auto;
  transition: .3s;
  @media (max-width: $large-media){
    max-width: 100%;
    margin: 0 auto;
    padding: 0 35px;
  }
  @media (max-width: $mobile-media){
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
.box-layount {
  padding: 0 15px; }



ul {
  list-style: none;
  text-align: left;
}

.title-h1 {
  font-weight: 500;
  font-size: 53px;
  transition: .3s;
}

.title-h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  transition: .3s;
}


@media (max-width: $tablet-media) {
  .title-h1 {
    font-size: 40px;
  }
  .title-h2 {
    font-size: 26px;
  }
}
@media (max-width: $mobile-media) {
  .title-h1 {
    font-size: 30px;
  }
  .title-h2 {
    font-size: 18px;
  }
}


.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.grid-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.other-body {
  background: linear-gradient(153deg, #342B48 33.79%, #0F4F57 69.42%, #0EF5FF 100%);
  height: 100vh;
}
.links {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 160px;
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    &:before {
      content: '';
      position: absolute;
      width: 19px;
      height: 18px;
      left: 0;
      background-size: cover;
      top: 2px;
      background-image: url(../images/icons/ic_check.svg);
    }
    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: $color-white;
      text-decoration: none;
    }
  }
}
.text-neon {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: $color-default;
}
.empty-block {
  min-height: 135px;
  background: $color-dark;
}
.download {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: $color-blue;
  position: relative;
  text-decoration: none;
  padding-left: 20px;
  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 14px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1C9 0.447715 8.55228 0 8 0C7.44772 0 7 0.447715 7 1H9ZM7.29289 17.7071C7.68342 18.0976 8.31658 18.0976 8.70711 17.7071L15.0711 11.3431C15.4616 10.9526 15.4616 10.3195 15.0711 9.92893C14.6805 9.53841 14.0474 9.53841 13.6569 9.92893L8 15.5858L2.34315 9.92893C1.95262 9.53841 1.31946 9.53841 0.928932 9.92893C0.538408 10.3195 0.538408 10.9526 0.928932 11.3431L7.29289 17.7071ZM7 1V17H9V1H7Z' fill='%230090A1'/%3E%3C/svg%3E%0A");
  }
  span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: $color-gray;
    padding-left: 20px;
  }
}
.btn-link-mobile {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: $color-default;
  background-color: #0e0e0e;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
  cursor: pointer;
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 17px;
      height: 15px;
      right: -23px;
      top: 4px;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7071 8.70711C18.0976 8.31658 18.0976 7.68342 17.7071 7.29289L11.3431 0.928932C10.9526 0.538408 10.3195 0.538408 9.92893 0.928932C9.53841 1.31946 9.53841 1.95262 9.92893 2.34315L15.5858 8L9.92893 13.6569C9.53841 14.0474 9.53841 14.6805 9.92893 15.0711C10.3195 15.4616 10.9526 15.4616 11.3431 15.0711L17.7071 8.70711ZM0.5 9H17V7H0.5V9Z' fill='%230EF5FF'/%3E%3C/svg%3E%0A");
    }
  }
}
.btn-link-mobile {
  display: none;
}
.block-mobile {
  display: none;
}
.center {
  text-align: center;
}
.action-btn {
  width: 100%;
  &-tr {
    display: block;
    position: absolute;
    right: 0;
    max-width: 100px;
    .swiper-button-next {
      outline: none;
      right: 35px;
      &:after {
        content: '';
        width: 40px;
        height: 27px;
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='28' viewBox='0 0 47 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M36.3536 13.6464C36.5488 13.8417 36.5488 14.1583 36.3536 14.3536L33.1716 17.5355C32.9763 17.7308 32.6597 17.7308 32.4645 17.5355C32.2692 17.3403 32.2692 17.0237 32.4645 16.8284L35.2929 14L32.4645 11.1716C32.2692 10.9763 32.2692 10.6597 32.4645 10.4645C32.6597 10.2692 32.9763 10.2692 33.1716 10.4645L36.3536 13.6464ZM10 13.5L36 13.5L36 14.5L10 14.5L10 13.5Z' fill='%230090A1'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0.318115' width='46.5' height='27.364' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.054902 0 0 0 0 0.960784 0 0 0 0 1 0 0 0 0.8 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    .swiper-button-prev {
      outline: none;
      top: 1px;
      left: -112px;
      &:after {
        content: '';
        width: 40px;
        height: 27px;
        transform: rotate(181deg);
        background-image: url("data:image/svg+xml,%3Csvg width='47' height='28' viewBox='0 0 47 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M36.3536 13.6464C36.5488 13.8417 36.5488 14.1583 36.3536 14.3536L33.1716 17.5355C32.9763 17.7308 32.6597 17.7308 32.4645 17.5355C32.2692 17.3403 32.2692 17.0237 32.4645 16.8284L35.2929 14L32.4645 11.1716C32.2692 10.9763 32.2692 10.6597 32.4645 10.4645C32.6597 10.2692 32.9763 10.2692 33.1716 10.4645L36.3536 13.6464ZM10 13.5L36 13.5L36 14.5L10 14.5L10 13.5Z' fill='%230090A1'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0.318115' width='46.5' height='27.364' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.054902 0 0 0 0 0.960784 0 0 0 0 1 0 0 0 0.8 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
}
.swiper-slide {
  text-align: left;
}
@media (max-width: $mobile-media) {
  .mobile-hidden {
    display: none;
  }
  .btn-link-mobile {
    display: block;
  }
  .block-mobile {
    display: block;
  }
}