$color-default: #0EF5FF;
$color-dark: #2D3C3E;

$color-white: #fff;
$color-white-gray: #FBFBFB;
$color-gray: #B8C2C4;
$color-blue: #0090A1;
$color-orange: #FF9500;

$bg-scroll: #C4C4C4;

$large-media: 1260px;
$tablet-media: 968px;
$mobile-media: 768px;
$mobile-media-small: 481px;